{% block footer %}
    <footer  >
    <div class="jumbotron-fluid" style="background:transparent;text-align: center;text-decoration-color: #ffffff">
    <div >
        <br/>
        <br/><b>
        <p style="color: white"><strong>File Sharing Portal</strong></p>
        <p style="color: white">Made by:</p>
        <p style="color: white">Manish </p>
        <br/>
        <a href="{%   url 'webapp:contact' %}" style="color: white">About site</a>
        </b>
        <br/>
        </div>
    </div>
    </footer>
{% endblock %}