{%  extends "webapp/includes/base.html" %}
{% block content %}
    <body style="font-size: medium;background-image:url('../../../media/assets/wavy_wallpaper.jpg') ;background-attachment: fixed ;height: 100%">
    {% include 'webapp/includes/navbar.html' %}
<div class="container">
 <br/><nav class="breadcrumb">
  <a class="breadcrumb-item" href="{% url 'webapp:index' %}">Home</a>
  <span class="breadcrumb-item active">Albums</span>
</nav>
</div>
    <br/>
<div class="container">
{%  csrf_token %}
<form  action="{%   url 'webapp:addalbum' %}">
    {%   csrf_token %}
<input class="btn btn-primary" type="submit" value="New Album"  /><br/>
</form>


<br/>
{% include 'webapp/show/albumshow.html' with albumquery=albumall %}
</div>
    {% include 'webapp/includes/footer.html' %}
    </body>
{%  endblock %}