{% extends 'webapp/includes/base.html' %}
{% block content %}
    <body style="font-size: medium;background-image:url('../../../media/assets/horsehead-nebula-dark-nebula-constellation-orion-87646.jpeg') ;background-attachment: fixed ;height: 100%;background-size: 100%">
    {% include 'webapp/includes/navbar.html' %}
    <center><p style="color: #ffffff">ABOUT US PAGE</p></center>
<br/>
<p style="color: white">About Mython
This webapp is basically an online data storing and sharing portal on which user can:

•	Users can easily add data to the server.
•	Users can easily download the data from the server.
•	Users will be able to access the data or share some data only If they are authorized.
•	Users will have an option to broadcast message to the community and request the files he needs.
•	User can simply sign up and login just from the homepage.
•	Files will be categorized into different domains namely videos, music, documents etc.
•	File will automatically be saved in its respective domain if user just uploads a simple file.
•	User will have the search bar on every page, so he can simply find files of his interests.
•	The website will also feature breadcrumbs for easy navigation.
•	User can easily watch videos and listen the songs without downloading through online streaming options.

</p><br/><p style="color: white">


IDEA BEHIND THE PROJECT
The whole idea of this project is to provide a final destination for all the requirements of the users.
For example: If you are searching for some music or file online and you have to surf so many different irrelevant websites to find the proper quality of file you want. This may consume a lot of time and can be frustrating as well.

In Mython, you can simply post a request for the file and the users community will provide you with the file.
The motive of the site is “Sharing is Caring “.
User can also give feedbacks to improve the site.
Moreover, users won’t need to spend hours searching for files links on internet.
We got it all covered.
</p>
<br/>
<br/>
    <div ><center>
    <h3 style="color: #ffffff"> CLOUD STORAGE WEBAPP: </h3>
<h5 style="color: #ffffff">UPLOAD : </h5>
<h6 style="color: #ffffff">IT has 7 models  </h6>
        <div style="color: #ffffff">
        <ul>
            <li>Video</li>
            <li>Album</li>
            <li>Song</li>
            <li>Message</li>
            <li>Image</li>
            <li>Document</li>
            <li>Files</li>
        </ul>
            </div>
<strong><h6 style="color: #ffffff">Contact us for more details :   manish.manish.cse16@itbhu.ac.in</h6></strong>
    </center></div>
{% endblock %}