
{%  extends "webapp/includes/base.html" %}
{% block content %}

    <body style="font-size: medium;background-image:url('../../../media/assets/wall blue blocks.jpg') ;background-attachment: fixed ;height: 100%">
    {% include 'webapp/includes/navbar.html' %}
<br/><div class="container">
 <br/><nav class="breadcrumb">
  <a class="breadcrumb-item" href="{% url 'webapp:index' %}">Home</a>
  <a class="breadcrumb-item" href="{% url 'webapp:notification_all' %}">Notifications</a>
{#  <a class="breadcrumb-item" href="#">Data</a>#}
  <span class="breadcrumb-item active">{{ ntfc.sender }}</span>
</nav>
</div>
<div class="container">

    <br/>
    <br/>
    <div class="jumbotron"style="opacity: 0.7">
<h1  style="font-family:'Baskerville Old Face' ;font-size: 22px;color: #000000">{{ ntfc.body }}</h1><br/>
<h3  style="font-family:'Algerian'  ;font-size: 22px;color:mediumvioletred">{{ ntfc.sender }}</h3><br/>
</div>
    </div>
    {% include 'webapp/includes/footer.html' %}
    </body>
{%  endblock %}